
body {background-color: #f3e0db;
color:#943b5e;
font-size:24px;
}

h1 {
    font-size: 48px;
    font-weight : normal;
    font-family: arial, georgia, serif;
    text-align: center;
    color : #5F1D0E;
    margin: 20px;
    }
h2 {
    font-size: 28px;
    font-weight : bold;
    font-family: arial, georgia, serif;
    color : #835B53;
    margin-top: 10px;
    margin-bottom: 10px;
    }
