p {
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 color:#5F1D0E;
}

body {background-color: #D2BAB5;
color:#5F1D0E;
font-size:24px;
}

h1 {
    font-size: 48px;
    font-weight : normal;
    text-align: center;
    margin: 20px;
    }
h2 {
    font-size: 28px;
    font-weight : normal;
    margin-top: 10px;
    margin-bottom: 10px;
    }
