body {background-color: #FBEEE6;
 font-family: Arial, Helvetica, sans-serif;
 text-align: left;
color:#5F1D0E;
font-size:24px;
}


 H1 {
  border-style: solid;
  border-width: 5px;
}

p1 {
  border-radius: 25px;
  background: #FCFAF9;
 
}
    
